#titulo{
    font-family: 'Poppins', sans-serif;
    color: whitesmoke
}

#textoIndex{
    line-height: 25px;    

}

#navbar{
    padding-top: 60px;
}

#footer{
    position: block;
    bottom:0;
    height: 100px;
    bottom: 0;
    line-height:50px;
    width: 100%;
}

#footer1{
    height: 50px; 
    background:black; 
    width:100%; 
    position:absolute; 

}

/* Animacion del Home, subdividido por Divs */

#divPosts {
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

#divMas {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

#divPerfil {
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}

#divExtra {
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}

#divCarousel {
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* Sombreado y zoomIn para cada Post */

#fotoPost{
    box-shadow: 2px 2px 5px ;
}

#fecha{
    text-shadow: 1px 1px 10px;
}

#post {
    transition: box-shadow .3s;
}

#post:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

#card{
    min-height: 100vh;
}

#comentariosCard{
    min-height: 50vh;
}

.table-responsive{
    display: table;
}

#listUsers td{
    line-height: 50px;
}

#listCategory td{
    line-height: 70px;
    width: 200px;
}

/* Cambio de fuente para Encabezado */

#encabezado{
    font-family: 'Baloo Bhaina 2', 'Courier New', Courier, monospace;
    font-size: 32px;
}

#encabezadoPost{
    font-family: 'Baloo Bhaina 2', 'Courier New', Courier, monospace;
    font-size: 32px;
}

#encabezadoComentarios{
    font-family: 'Baloo Bhaina 2', 'Courier New', Courier, monospace;
    font-size: 32px;
}


/* Elemento pre dónde se muestra el código */

#codigo{
    border-radius: 5px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    height:555px;
    overflow-y: scroll;
}

/* Edición de Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    
    background: lightsteelblue;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  /* Vista del Perfil de Usuario */

  #foto{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 5px ;
    border-radius:5px;
  }

  #perfil{
      display:block;
  }


  #formPerfil{
      display: none;
  }

  #formCategoria{
    display: none;
}


#imagenCat{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Estilos para las diferentes categorías */
#categoria{
    text-align: center;
    transition: ease-in-out 0.3s;
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
}

#categoria:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

@media(max-width:768px){

    #lenguaje{
        margin-left: 92px !important;

    }

    #user{
        margin-right: 85px !important;
        margin-top: 20px !important;

    }

    #borrar{
        margin-top:90px !important;
    }

    #editar{
        float: right !important;
        margin-left: 35px !important;
        margin-top:12px !important;
    }

    #encabezadoPost{
        font-size: 28px;
        margin-right: 30px !important;
    }

}

#editPost{
    display:none;
}
