#titulo{
    font-family: 'Poppins', sans-serif;
    color: whitesmoke
}

#textoIndex{
    line-height: 25px;    

}

#navbar{
    padding-top: 60px;
}

#footer{
    position: block;
    bottom:0;
    height: 100px;
    bottom: 0;
    line-height:50px;
    width: 100%;
}

#footer1{
    height: 50px; 
    background:black; 
    width:100%; 
    position:absolute; 
    bottom:; 
    left:; 
}

/* Animacion del Home, subdividido por Divs */

#divPosts {
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

#divMas {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

#divPerfil {
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}

#divExtra {
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}

#divCarousel {
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* Sombreado y zoomIn para cada Post */

#fotoPost{
    box-shadow: 2px 2px 5px ;
}

#fecha{
    text-shadow: 1px 1px 10px;
}

#post {
    transition: box-shadow .3s;
}

#post:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

#card{
    min-height: 100vh;
}








